language: android
install: true
script: gradle clean build jacocoTestReport
android:
  components:
    - build-tools-24.0.2
    - android-24
    - extra
jdk:
  - oraclejdk8
before_install:
  # Gradle
  - echo y | android update sdk --no-ui --all --filter "tools"
  - echo y | android update sdk --no-ui --all --filter "build-tools-24.0.2"
  - wget http://services.gradle.org/distributions/gradle-2.14.1-bin.zip
  - unzip gradle-2.14.1-bin.zip
  - export GRADLE_HOME=$PWD/gradle-2.14.1
  - export PATH=$GRADLE_HOME/bin:$PATH
after_success:
  - ./merge_to_dev.sh
  - curl https://www.jpm4j.org/install/script | sh
  - jpm install com.codacy:codacy-coverage-reporter:assembly
  - export CODACY_PROJECT_TOKEN=fc889dab578347aeadb7f317a67b4125
  - codacy-coverage-reporter -l Java -r /build/reports/jacoco/jacocoTestDebugUnitTestReport/jacocoTestDebugUnitTestReport.xml
