language: android
install: true
script: gradle clean assemble
android:
  components:
    - tools
    - build-tools-25.0.2
    - extra
    - android-25
jdk:
  - oraclejdk8
licenses:
  - 'android-sdk-preview-license-.+'
  - 'android-sdk-license-.+'
  - 'google-gdk-license-.+'
before_install:
  # Gradle
  - echo y | android update sdk --no-ui --all --filter "tools"
  - echo y | android update sdk --no-ui --all --filter "build-tools-25.0.2"
  - echo y | android update sdk --no-ui --all --filter "android-25"
  - echo y | android update sdk --no-ui --all --filter "extra-android-m2repository"
  - wget http://services.gradle.org/distributions/gradle-3.4.1-bin.zip
  - unzip gradle-3.4.1-bin.zip
  - export GRADLE_HOME=$PWD/gradle-3.4.1
  - export PATH=$GRADLE_HOME/bin:$PATH
after_success: ./merge_to_dev.sh
