language: android
install: true
script: gradle clean assembleDebug
android:
  components:
    - tools
    - build-tools-26.0.3
    - extra
    - android-26
jdk:
  - oraclejdk8
licenses:
  - 'android-sdk-preview-license-.+'
  - 'android-sdk-license-.+'
  - 'google-gdk-license-.+'
before_install:
  # Gradle
  - echo y | android update sdk --no-ui --all --filter "tools"
  - echo y | android update sdk --no-ui --all --filter "build-tools-26.0.3"
  - wget http://services.gradle.org/distributions/gradle-3.4.1-bin.zip
  - unzip gradle-3.4.1-bin.zip
  - export GRADLE_HOME=$PWD/gradle-3.4.1
  - export PATH=$GRADLE_HOME/bin:$PATH
after_success: ./merge_to_dev.sh
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
